---
layout: default
title: OpenGL | david parker
categories: opengl
---
{% if site.categories.webgl %}
<h2 class="header">WebGL</h2>
<ul>
  {% for post in site.categories.webgl %}
    <li><time datetime="{{ post.date | date_to_string_html5 }}">{{ post.date | date_to_string }}</time> - <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}

<h2 class="header">OpenGL</h2>
<ul>
  {% for post in site.categories.opengl %}
    <li><time datetime="{{ post.date | date_to_string_html5 }}">{{ post.date | date_to_string }}</time> - <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
