<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="David W Parker: a blog about software, mobile development, web development, entrepreneurship, ruby, rails, python, django, javascript, jquery, java, android, ios, cocos2d, openl and more.">
  <meta name="keywords" content="ruby, rails, python, django, javascript, jquery, emacs, programming, computer programming, software engineering, business, entrepreneurship, fitness, christianity">
  <meta name="author" content="David W Parker">
  <title>{{ page.title }}</title>
  <link href="http://feeds.feedburner.com/davidwparker" rel="alternate" title="david parker | software and web development" type="application/atom+xml" />
  {% if site.env == "dev" %}
  <link rel="stylesheet" href="/css/screen.css" />
  <link rel="stylesheet" href="/css/highlight.css" />
  <!--[if IE]>
    <link rel="stylesheet" href="/css/ie.css" media="screen, projection" />
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {% endif %}
  {% if site.env == "pro" %}
  <link rel="stylesheet" href="http://static.davidwparker.com/css/screen.css" />
  <link rel="stylesheet" href="http://static.davidwparker.com/css/highlight.css" />
  <!--[if IE]>
    <link rel="stylesheet" href="http://static.davidwparker.com/css/ie.css" media="screen, projection" />
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {% endif %}
</head>
<body>
<div class="container">
  <header>
    <hgroup>
      <h1 class="header rockies-pic" title="Picture of the Rockies"><a href="/">davidwparker.com</a></h1>
    </hgroup>
  </header>
  <div id="content">
    {{ content }}
  </div>
</div>
<nav>
  <ul>
    <li><a href="/">index</a></li>
    <li><a href="/apps/">apps</a></li>
    <li><a href="/portfolio/">portfolio</a></li>
    <li><a href="/demos/">demos</a></li>
    <li><a href="/goals/">goals</a></li>
    <li><a href="/other/">other</a></li>
    <li><a href="/about/">about</a></li>
  </ul>
</nav>
<footer>
  <div class="footer-content">
    <a href="http://github.com/davidwparker">github</a> | <a href="http://twitter.com/davidwparker">twitter</a> | <a href="http://youtube.com/user/iamdavidwparker">youtube</a> | <a href="/">davidwparker.com</a> | <span>copyright 2008-Today</span>
  </div>
</footer>
{% if site.env == "pro" %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-3039643-2");
pageTracker._trackPageview();
} catch(err) {}</script>
{% endif %}
</body>
</html>
