<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta
    name="description"
    content="David W Parker: a blog about web development, mobile development, game development,
      graphics, software, and entrepreneurship. I cover technologies such as webgl, opengl, ruby,
      rails, python, django, javascript, jquery, java, android, ios, cocos2d, three.js, and more."
  >
  <meta
    name="keywords"
    content="webgl, opengl, graphics, ruby, rails, javascript, jquery, three.js, programming,
      computer programming, software engineering, business, entrepreneurship"
  >
  <meta name="author" content="David W Parker">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>{{ page.title }}</title>
  <link
    href="http://feeds.feedburner.com/davidwparker"
    rel="alternate"
    title="david parker | software and web development"
    type="application/atom+xml"
  />
  <link rel="stylesheet" href="/css/screen.css?{{site.time | date: '%s%N'}}" />
  {% if page.categories contains "hascode" %}
  <link rel="stylesheet" href="/css/highlight.css" />
  {% endif %}
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <!--[if IE]>
    <link rel="stylesheet" href="/css/ie.css" media="screen, projection" />
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {% for style in page.styles %}
  <style>{{ style }}</style>
  {% endfor %}
</head>
<body>
<div class="container">
  <header>
    <hgroup>
      <h1 class="header">
        <a href="/" title="davidwparker.com">
          David W Parker - Developer
        </a>
      </h1>
    </hgroup>
  </header>
  <nav>
    <ul>
      <li><a href="https://codenameparker.com">portfolio</a></li>
      <li><a href="/code/">code</a></li>
      <li><a href="/books/">books</a></li>
      <li><a href="/life/">life</a></li>
      <li><a href="/goals/">goals</a></li>
      <li><a href="/about/">about</a></li>
    </ul>
  </nav>
  <div class="content">
    {{ content }}
  </div>
  <footer>
    <ul class="footer-content">
      <li>
        <a href="http://www.programmingtil.com">ProgrammingTIL</a>
      </li>
      <li>
        <a href="http://youtube.com/user/iamdavidwparker">YouTube</a>
      </li>
      <li>
        copyright 2008-Today
      </li>
    </ul>
  </footer>
</div>
<script type="text/javascript">
 var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3039643-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
