<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="author" content="David W Parker" />
  <title>{{ page.title }}</title>
  <link href="http://feeds.feedburner.com/davidwparker" rel="alternate" title="David W Parker" type="application/atom+xml" />
  <link rel="stylesheet" type="text/css" href="css/screen.css" />
  <!--[if IE]>
   <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen, projection" />
  <![endif]-->
</head>
<body>
<div class="container">
  <div class="header">
    <div class="rockies-pic" alt="Picture of the Rockies" title="Picture of the Rockies" />
  </div>
  <div id="content">
    {{ content }}
  </div>
</div>
<div class="nav">
  <ul>
    <li><a href="/index.html">index</a></li>
    <li><a href="/projects.html">projects</a></li>
    <li><a href="/about.html">about</a></li>
  </ul>
</div>
<div class="footer">
  <div class="footer-content">
    <a href="/index.html">davidwparker.com</a> |
    <span>copyright 2009</span>
  </div>
</div>
<!-- and google analytics here... -->
</body>
</html>
